.interface {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 25em;
    width: 50em;
    box-shadow: 0px 0px 10px #520e5f;
    border-radius: 2em;
    gap: 2em;
    padding: 1.5em;
}

.search_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.search_box input {
    width: 30em;
    height: 2em;
    border: none;
    border-radius: 0.8em;
    padding: 0.5em; 
    box-shadow: 0px 0px 10px #9200af;
}

.input:hover {
    box-shadow: 0px 0px 20px #9200af;
    transition: 0.2s;
}

.result_list {
    flex: 1;
    display: flex;
    align-items: center;   
    flex-direction: column;      
    overflow-y: auto;
    max-height: 10em;
    min-width: 25em;
    border-radius: 1em;
    cursor: pointer;
}

.result_list button {
    border: 1px solid #520e5f;
    padding: 1em;
    border-radius: 2em;
    margin-top: 3em;
    cursor: pointer;
}

.result_list button:hover {
    box-shadow: 0px 0px 20px #9200af;
}


